/* ==========================================================================
   Footer
   ========================================================================== */
.l-footer {
    width: 100%;
    color: $color_footer;
    background: $bg_footer;
}

.c-footer {
    height: 64px;
    display: flex;
    align-items: center;
    align-content: center;
}
