/* ==========================================================================
   Header
   ========================================================================== */
.l-header {
  width: 100%;
  color: $color-footer;
  background: $bg-footer;
}

.c-header {
  margin: 0 auto;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-weight: 400;
}

.c-navigation-list {
  display: flex;
  flex-direction: row;
}

.c-navigation-list__item {
  position: relative;
  margin-left: 32px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  &:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 1px;
    left: 0;
    background: currentColor;
    opacity: 0;
    transition: all 0.3s ease;
  }
}

.c-navigation-list__item:nth-of-type(1) {
  margin-left: 0;
}

.c-navigation-list__item:hover {
  &:before {
    background: currentColor;
    opacity: 1;
    transform: translate;
  }
}
