/* ==========================================================================
   Inner
   ========================================================================== */

.l-inner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
}

.l-inner--row {
    flex-direction: row;
}

.l-inner--center {
    justify-content: center;
}

.l-content {
    color: $color-content;
    background: $bg-content;
    height: calc(100vh - 128px);
    max-height: calc(100vh - 128px);
    overflow-y: scroll;
}
