<template>
  <div id="app">
    <Header/>
      <div class="l-content">
        <transition
          name="slide-fade-up-down"
          mode="out-in"
          :css="true">
          <router-view />
        </transition>
      </div>
    <Footer/>
  </div>
</template>

<script>
import Main from '@/components/Main.vue'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'

export default {
  name: 'App',
  components: {
    Main,
    Header,
    Footer
  },
  computed: {
    getBoard () {
      return this.$store.getters.getBoard
    }
  },
  mounted () {
    this.$store.dispatch('init')
  }
}
</script>

<style lang="scss">
@import './scss/main.scss';

.slide-fade-up-down-enter-active {
  transition: all .3s ease;
}

.slide-fade-up-down-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-up-down-enter,
.slide-fade-up-down-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.slide-fade-left-right-enter-active {
  transition: all .3s ease;
}

.slide-fade-left-right-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  transition: all .3s ease;
}

.slide-fade-left-right-enter,
.slide-fade-left-right-leave-to {
  transform: translateX(25px);
  opacity: 0;
}

.slide-rollet-enter-active {
  max-height: 150px;
  transition: all 0.5s ease;
  overflow: hidden;
}

.slide-rollet-leave-active {
  max-height: 150px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.slide-rollet-enter,
.slide-rollet-leave-to {
  max-height: 0;
  overflow: hidden;
}

</style>
