/*--------------------------------------------------------------------------
    Auth login & register
-------------------------------------------------------------------------- */

/*  Button
-------------------------------------------------------------------------- */

.c-auth-box-wrapper + .c-auth-box-wrapper {
    margin-left: 16px;
}

.c-auth {
    color: $color_white;
}

.c-auth-box {
    display: flex;
    flex-direction: column;

    width: 240px;
    height: auto;
    margin-left: 8px;
    margin-bottom: 8px;

    border-radius: 8px;
    background: #fff;
    width: 100%;
    padding: 8px;

    border-radius: 8px;

    box-shadow: 0px 6px 10px 0px #0f0f0f2f;
    background: $color-gray-light;
    input + input {
        margin-top: 8px;
    }
}

.c-auth-box + .c-auth-box {
}

.c-auth-box__login {
    display: flex;
    flex-direction: column;
}

.c-auth-box__register {
    display: flex;
    flex-direction: column;
}
