/*--------------------------------------------------------------------------
    Buttons
-------------------------------------------------------------------------- */

/*  Button
-------------------------------------------------------------------------- */
.c-btn {
    cursor: pointer;

    border: none;
}

.c-task-cta {
    display: flex;

    justify-content: row;
    input[type=text] {
        display: flex;

        width: 100px;

        border-radius: 0;
    }
    button {
        border-radius: 0;
    }
}

.icon-wrapper {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: none;
    text-shadow: none;
    transition: $anim-basic;
}

.icon-wrapper .icon:before {
    color: #c0c0c0;
}

.icon-wrapper:hover .icon:before {
    color: #000000;
    transition: $anim-basic;
}
