/*--------------------------------------------------------------------------
    Form
-------------------------------------------------------------------------- */

/*  Reset form
-------------------------------------------------------------------------- */
.f-form {
    fieldset {
        margin: 0;
        padding: 0;

        border: 0;
    }
    input,
    textarea,
    select {
        border-radius: 0;
        box-shadow: none;
        &:focus {
            outline: none;
        }
    }
    textarea {
        min-height: $size-btn*5;
        max-height: $size-btn*10;
        padding: $size-gutter;

        resize: vertical;
    }
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        box-shadow: 0 0 0 1000px white inset;
    }
    *::-ms-clear {
        display: none;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: currentColor;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder {
        color: currentColor;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {
        color: currentColor;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: currentColor;
    }
}

/*  Form
-------------------------------------------------------------------------- */
