/*--------------------------------------------------------------------------
    Labels
-------------------------------------------------------------------------- */

label {
    margin-top: 0;
    font-size: 10px;
}

/*  Label
-------------------------------------------------------------------------- */
.c-label {
    display: flex;

    width: auto;
    height: 16px;
    margin-top: 2px 4px 2px 0;
    padding: 3px 3px 2px;

    font-size: 10px;
    font-weight: 700;
    line-height: 1;

    color: white;
    border-radius: 3px;

    align-content: center;
    align-items: center;
    justify-content: center;
}

/*  Label-list
-------------------------------------------------------------------------- */
.c-label-list {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    padding-top: 4px;
    border-top: 1px solid #ededed;
}
