// TODO:

.sortable-ghost {
    box-sizing: border-box;

    animation: anim-wiggle 2.0s ease;

    opacity: .6;
    border: 3px dashed green;
    border-radius: 5px;

    backface-visibility: hidden;
}
