.c-task-list-container {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.c-task-list-wrapper {
    width: 240px;
    height: 100%;
    margin-bottom: 8px;

    border-radius: 8px;
    background: #fff;
}

.c-task-list-wrapper + .c-task-list-wrapper {
    margin-left: 8px;
}

.c-task-list {
    width: 100%;
    padding: 8px;

    border-radius: 8px;

    box-shadow: 0px 6px 10px 0px #0f0f0f2f;
    background: $color-gray-light;
}

.c-task-list__header {
    padding: 0 4px 4px;

    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;

    color: $color-task-list__title;
    background: $bg-task-list__title;
}

.c-task-list-title {
    padding: 4px 8px;
    width: 100%;
    margin: 16px auto;
    background: $color-navy;
    color: white;
    border-radius: 16px;
    h1 {
        font-size: 24px;
    }
}
