/*--------------------------------------------------------------------------
Task
-------------------------------------------------------------------------- */

/*  Task
-------------------------------------------------------------------------- */
.c-task {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 4px 8px 4px;

    font-size: 14px;

    cursor: pointer;

    border: 1px solid lightgray;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 5px 0 #0f0f0f1f;

    overflow-wrap: break-word;
    &:hover {
        border: 1px solid #999;
    }
}

.c-task-wrapper {
    display: flex;

    height: 100%;;

    transition: $anim-basic;

    border: none;
    border-radius: 4px;
    background: transparent;

    align-content: center;
    align-items: center;
    justify-content: center;
}

.c-task-wrapper + .c-task-wrapper {
    margin-top: 4px;
}

.c-task-wrapper.active {
    max-width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;

    transform: translateY(-4px);

    box-shadow: 0 8px 15px 0 #0f0f0f9e;;
}

.c-task p {
    max-width: 140px;

    font-size: 12px;
}

.c-task-details {
    box-sizing: initial;
    padding: 2px 0;
    height: 150px;
}

.c-task-details p {
    font-size: 14px;
    font-size: 400;
}
