<template>
  <div class="l-inner l-inner--center">
    <div class="l-inner l-inner--row l-inner--center">
      <div class="c-auth-box-wrapper">
        <div class="c-auth-box">
          <div class="c-auth-box-column">
            <div class="c-auth-box-row">
              {{ message }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-inner l-inner--row l-inner--center" v-if="$store.state.isLoggedIn">
      <Profile/>
    </div>
    <div class="l-inner l-inner--row l-inner--center" v-if="!$store.state.isLoggedIn">
      <Login/>
      <Register/>
    </div>
  </div>
</template>

<script>
// import AuthenticationService from '@/services/AuthenticationService'

import Login from '@/components/Login.vue'
import Profile from '@/components/Profile.vue'
import Register from '@/components/Register.vue'

export default {
  name: 'Auth',
  components: {
    Login,
    Profile,
    Register
  },
  data () {
    return {
      message: '',
      user: {}
    }
  },
  computed: {
    isLogged () {
      return this.$store.getters.isLoggedIn
    },
    getUserToken () {
      return this.$store.getters.getUserToken
    }
  },
  methods: {
    sessionAuthInfo (user, message, isLoggedIn) {
      this.$store.commit('sessionAuthInfo', {
        user,
        message,
        isLoggedIn
      })
    }
  }
}
</script>

<style scoped>
  .l-inner--row-center {
    padding-top: 32px;
  }
</style>
