<template>
  <div>
    <div class="c-label-list" v-if="isLoggedIn">
      Zalogowany
    </div>
    <div class="c-label-list" v-if="!isLoggedIn">
      Niezalogowany
    </div>
  </div>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'

export default {
  name: 'Check',
  computed: {
    isLoggedIn () {
      return this.$store.getters.isLoggedIn
    }
  },
  created: function () {
    try {
      const response = AuthenticationService.checktoken()
        .then(() => {
          console.log('dupa')
        })

      console.log('poszlo', response)
    } catch (error) {
      console.log('nie wyszlo', error)
    }
  }
}
</script>
