<template>
  <div class="l-footer">
    <div class="c-footer">
      <div class="l-inner">
        {{ copyright }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {
      copyright: 'Marek Jakimiuk'
    }
  }
}
</script>
