<template>
  <div class="l-header">
    <div class="l-inner">
      <div class="c-header">
        <figure>
          VueTrello
        </figure>
        <Navigation />
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from '@/components/Navigation.vue'

export default {
  name: 'Header',
  components: {
    Navigation
  }
}
</script>
