
<template>
  <span class="c-label" v-if="label" :style="{background: label.color}">
    {{ label.name }}
  </span>
</template>

<script>
export default {
  name: 'Label',
  props: {
    label: Object
  }
}
</script>
