<template>
  <div class="c-label-list" v-if="labelsFiltered.length  > 0">
    <span class="c-label-title">TAGS:</span>
    <Label
      v-for="(label, index) in labelsFiltered"
      :key="index"
      :label="label"
      :index="index"
    />
  </div>
  <div class="c-label-list" v-else>
    <span class="c-label-title" style="font-weight: 400; color: lightgray;">NO TAGS</span>
  </div>
</template>

<script>
import Label from '@/components/Label'

export default {
  name: 'LabelList',
  props: {
    idCard: String,
    idCardLabels: Array,
    showDetails: Boolean
  },
  components: {
    Label
  },
  computed: {
    labels () {
      return this.$store.getters.getLabels
    },
    labelsFiltered () {
      return this.labels.filter((label) => (
        this.idCardLabels.some(idCardlabel => (
          idCardlabel === label.id
        ))
      ))
    }
  }
}
</script>
<style lang="scss" scoped>
.c-label-title {

  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  margin-right: 4px;
}
</style>
