<template>
  <div class="c-auth-box-wrapper">
    <div class="c-auth-box">
      <h3>Login</h3>
      <p style="font-size: 10px;" v-if="error !== ''">
        {{ this.error }}
      </p>
      <div class="c-auth-box__login">
        <label for="email">Email</label>
        <input
          type="text"
          placeholder=""
          required=""
          v-model="email">
        <label for="password">Password</label>
        <input
          type="password"
          required=""
          placeholder=""
          v-model="password">
        <button @click="login">
          Log in
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'

export default {
  name: 'Login',
  data () {
    return {
      username: '',
      password: '',
      email: '',
      message: '',
      error: ''
    }
  },
  methods: {
    async login () {
      try {
        const response = await AuthenticationService.login({
          email: this.email,
          password: this.password
        })
        console.log(response)
        this.$store.dispatch('setToken', response.data.token)
      } catch (error) {
        this.error = error.response.data.error
      }
    }
  }
}
</script>
