<template>
  <div class="l-inner">
  </div>
</template>

<script>
export default {
  name: 'Main',
  components: {
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
