<template>
  <ul class="c-navigation-list">
    <li class="c-navigation-list__item">
      <router-link to="/" tag="a">Home</router-link>
    </li>
    <li class="c-navigation-list__item">
      <router-link to="/Auth" tag="a">Login</router-link>
    </li>
    <li class="c-navigation-list__item">
      <router-link to="/board" tag="a">Board</router-link>
    </li>
    <li class="c-navigation-list__item">
      <router-link to="/Contact" tag="a">Contact</router-link>
    </li>
    <li class="c-navigation-list__item">
      <router-link to="/check" tag="a">Check</router-link>
    </li>
    <li class="c-navigation-list__item">
      <router-link to="/styleguide" tag="a">Style guide</router-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'Navigation'
}
</script>
