<template>
  <div class="c-auth-box-wrapper">
    <div class="c-auth-box">
      <div class="c-auth-box-column">
        <div class="c-auth-box-row">
          Firstname: {{this.tekst}}
        </div>
        <div class="c-auth-box-row">
          Surname: {{this.tekst}}
        </div>
        <div class="c-auth-box-row">
          <input @click="editprofile" type="submit" value="Edit Profile">
          <button v-on:click="userLogout" type="submit">LOG OUT</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Profile',
  data () {
    return {
      tekst: 'Loggen in',
      idUser: ''
    }
  },
  methods: {
    userLogout: function () {
      this.$store.dispatch('setToken', null)
    },
    editprofile: (e) => {
      // console.log('wylogowano', e.currentTarget)
      // const dupa = localStorage.getItem('login-token') || false
      // console.log('token', dupa)
      // TODO
      // this.$store.commit('logout', {
      //   id: this.idUser
      // })
    }
  }
}
</script>

<style scoped>

</style>
