<template>
  <div class="c-auth-box-wrapper">
    <div class="c-auth-box">
        <div class="c-auth-box__register">
          <h3>Register</h3>
          <p style="font-size: 10px;" v-if="error !== ''">
            {{this.error}}
          </p>
          <label for="username">User name</label>
          <input
            type="text"
            name="username"
            v-model="username">

          <label for="firstname">First name</label>
          <input
            type="text"
            name="firstname"
            v-model="firstname">

          <label for="lastname">Last name</label>
          <input
            type="text"
            name="lastname"
            v-model="lastname">

          <label for="email">E-mail</label>
          <input
            type="text"
            name="email"
            v-model="email">
          <label for="">Password</label>
          <input
            type="password"
            name="password"
            v-model="password">
          <button @click="register" type="submit">Register</button>
        </div>
      </div>
  </div>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'

export default {
  name: 'Register',
  data: function () {
    return {
      email: '',
      username: '',
      firstname: '',
      lastname: '',
      password: '',
      repassword: '',
      message: '',
      error: null
    }
  },
  methods: {
    async register () {
      try {
        const response = await AuthenticationService.register({
          email: this.email,
          username: this.username,
          firstname: this.firstname,
          lastname: this.lastname,
          password: this.password
        })
        this.$store.dispatch('setToken', response.data.token)
      } catch (error) {
        this.error = error.response.data.error
      }
    }
  }
}
</script>
