<template>
  <div class="l-inner">
    <div class="c-guide-section">
      <div class="c-guide-section__title">
        <h2>
          Paragraphs
        </h2>
        </div>
      <div class="c-guide-section__content">

        <div class="c-guide-typo">
          <code class="c-guide-typo__tag">
            p
          </code>
          <div class="c-guide-typo__example">
            <p class="t-text-1">.t-text-1</p>
          </div>
          <code class="c-guide-typo__desc">
            700 / 16 px / 1.2 line-height / UPPERCASE
          </code>
        </div>

        <div class="c-guide-typo">
          <code class="c-guide-typo__tag">
            p
          </code>
          <div class="c-guide-typo__example">
            <p class="t-text-1">.t-text-2</p>
          </div>
          <code class="c-guide-typo__desc">
            300 / 12 px / 1.2 line-height
          </code>
        </div>

        <div class="c-guide-typo">
          <code class="c-guide-typo__tag">
            p
          </code>
          <div class="c-guide-typo__example">
            <p class="t-text-1">.t-text-3</p>
          </div>
          <code class="c-guide-typo__desc">
            700 / 10 px / 1.2 line-height
          </code>
        </div>

      </div>
    </div>

    <div class="c-guide-section">
      <div class="c-guide-section__title">
        <h2>
          Colors
        </h2>
        </div>
      <div class="c-guide-section__content">
        <div class="c-guide-typo">
          <code class="c-guide-typo__tag">
            p
          </code>
          <div class="c-guide-typo__example">
            <p class="u-color-1">.u-color-1</p>
          </div>
          <code class="c-guide-typo__desc">
            700 / 16 px / 1.2 line-height / UPPERCASE
          </code>
        </div>
      </div>
    </div>

    <div class="c-guide-section">
      <div class="c-guide-section__title">
        <h2>
          Transitions
        </h2>
        </div>
      <div class="c-guide-section__content">
        <div class="c-guide-typo">
          <code class="c-guide-typo__tag">
            p
          </code>
          <div class="c-guide-typo__example">
            <p class="t-text-1">.t-text-1</p>
          </div>
          <code class="c-guide-typo__desc">
            700 / 16 px / 1.2 line-height / UPPERCASE
          </code>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Styleguide'
}
</script>

<style scoped>
  .c-guide-section:nth-of-type(1) {
    margin-top: 32px;
  }
  .c-guide-section {
    margin-top: 16px;
    border-radius: 16px;
    background: white;

    padding: 16px;
  }
  .c-guide-section__title {
    margin: 0;
    font-size: 24px;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 16px;
  }
  .c-guide-typo {
    margin: 15px 0 25px;
  }
  code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
</style>
