<template>
  <div class="c-task-details">
    <div class="c-details">
      <div class="c-details__title t-text-3">
        Details:
      </div>
      <div class="c-bar-line"></div>
      <div class="c-details__title t-text-2">
        Task:
      </div>
      <div class="c-details__desc t-text-1">
        {{ card.name }}
      </div>
      <div class="c-bar-line"></div>

      <div class="c-details__title t-text-2">
        Date:
      </div>
      <div class="c-details__desc t-text-1">
        {{ card.date }}
      </div>
      <div class="c-bar-line"></div>

      <div class="c-details__title t-text-2">
        Task
      </div>
      <div class="c-details__desc t-text-1">
        {{ card.name }}
      </div>
      <div class="c-bar-line"></div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'TaskCardDetails',
  props: {
    card: Object
  },
  components: {
  }
}
</script>

<style lang="scss" scoped>

  .c-details {
    margin-top: 4px;
    padding-top: 4px;
    border-top: 1px solid lightgrey;
  }
  .c-bar-line {
    display: block;
    content: '';
    height: 1px;
    margin: 2px 0;
    width: 100%;
    background: lightgrey;
  }
</style>
