<template>
  <div class="icon-wrapper">
    <i
      v-on:click="deleteTaskCard"
      class="icon icon-trash-empty">
    </i>
  </div>
</template>

<script>
export default {
  name: 'TaskCardRemover',
  props: {
    idCard: String
  },
  methods: {
    deleteTaskCard () {
      this.$store.commit('deleteTaskCard', this.idCard)
    }
  }
}
</script>
