<template>
  <div class="c-task-wrapper"

      :isHover="state.isHover"
      @mouseover="isHoverActive"
      @mouseleave="state.isHover = false"
      :class="{ 'active': state.showCardDetails }">
    <transition name="slide-fade-up-down">
      <div class="c-task"
        @mouseleave="hideTaskDetails"
        v-on:click="showTaskDetails"
        v-if="index">
        <p>
        {{ card.name }}
        </p>
        <transition name="slide-fade-left-right">
          <TaskCardActionBar
            :card="card"
            v-if="state.isHover"
            @showTaskEditor="showTaskEditor"
            class="c-task-card-action-bar-wrapper"
          />
        </transition>
        <LabelList
          :idCardLabels="card.idLabels"
          :idCard="card.id"
          :showCardDetails="state.showCardDetails"
        />
        <transition name="slide-rollet">
          <TaskCardDetails
            transition="animation"
            v-if="showDetails"
            :card="card"
          />
        </transition>
      </div>

    </transition>
  </div>
</template>

<script>
import LabelList from '@/components/LabelList'
import TaskCardDetails from '@/components/TaskCardDetails'
import TaskCardEditor from '@/components/TaskCardEditor'
import TaskCardActionBar from '@/components/TaskCardActionBar'

export default {
  name: 'TaskCard',
  props: {
    index: Number,
    card: Object
  },
  data () {
    return {
      state: {
        isHover: false,
        showCardDetails: false
      }
    }
  },
  components: {
    LabelList,
    TaskCardDetails,
    TaskCardEditor,
    TaskCardActionBar
  },
  computed: {
    showDetails () {
      return this.state.showCardDetails
    }
  },
  methods: {
    isHoverActive: function () {
      this.state.isHover = true
    },
    getCardInfo: function () {
    },
    showTaskEditor: function (card) {
      this.$emit('showTaskEditor', card.id)
    },
    showTaskDetails: function () {
      this.state.showCardDetails = true
    },
    hideTaskDetails: function () {
      this.state.showCardDetails = false
    }
  }
}
</script>

<style lang="scss" scoped>
  .handle {
    cursor: move;
  }

  .c-task-card-action-bar-wrapper {
    position: absolute;
    top: 0;
    right: 0px;
    display: flex;
    padding: 2px;
    background: white;

    padding: 3px;
    border: 1px solid grey;
    border-radius: 4px;
  }

</style>
