<template>
  <div class="c-task-list-wrapper" >
    <div class="c-task-list">
      <div class="c-task-list__header">
        {{ list.name }}
      </div>
      <draggable
        v-model="cardsDraggable"
        :options="{handle:'.handle'}"
        >
        <transition-group
          name="animation"
          tag="ul"
          class="items"
          appear>
          <TaskCard
            v-if="card.idList === list.id"
            v-for="(card, index) in cardsDraggable"
            :index="index"
            :key="card.id"
            :card="card"
            :idList="list.id"
            @showTaskEditor="showTaskEditor"/>
        </transition-group>
      </draggable>
      <TaskCardAdder
        :idList="list.id"
      />
    </div>
  </div>
</template>

<script src="//cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.16.0/vuedraggable.min.js"></script>

<script>

import draggable from 'vuedraggable'
import TaskCard from '@/components/TaskCard'
import TaskCardAdder from '@/components/TaskCardAdder'

export default {
  name: 'TaskList',
  props: {
    list: Object,
    id: String
  },
  mutations: {
  },
  components: {
    TaskCard,
    TaskCardAdder,
    draggable
  },
  computed: {
    /* cards () {
      // return this.$store.getters.getTaskCards
    },
    cardsFiltered () {
      // return cardsDraggable.filter(task => task.idList === this.id)
    }, */
    cardsDraggable: {
      get() {
        return this.$store.getters.getTaskCards
      },
      set(value) {
        this.$store.commit('updateList', value)
      }
    }
  },
  methods: {
    showTaskEditor: (idCard) => {
      this.$emit('showTaskEditor', idCard)
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
