<template>
  <div class="c-task-card-action-bar-wrapper">
    <div class="icon-wrapper">
      <i
        v-on:click="showTaskEditor"
        class="icon icon-pencil"></i>
    </div>
    <div class="icon-wrapper">
      <i class="handle icon icon-move"></i>
    </div>
    <TaskCardRemover
      :idCard="card.id" />
  </div>
</template>

<script>
import TaskCardRemover from '@/components/TaskCardRemover'

export default {
  name: 'TaskCardActionBar',
  components: {
    TaskCardRemover
  },
  props: {
    card: Object
  },
  methods: {
    showTaskEditor () {
      this.$emit('showTaskEditor', this.card)
    }
  }

}
</script>
