<template>
  <div class="c-task-list-container-wrapper l-inner" v-if="lists || modal">
    <div class="c-task-list-title">
      <h1>{{ getBoardName }}</h1>
    </div>
    <div class="c-task-list-container">
      <TaskList
        v-for="list in lists"
        :key="list.id"
        :id="list.id"
        :list="list"
        @showTaskEditor="showTaskEditor($event)"/>
    </div>
    <!--    <foo-modal name="modal-task-editor">
    </foo-modal>-->
    <modals-container/>
  </div>
  <div class="c-task-list-container" v-else>
    <h1>czekam...</h1>
  </div>
</template>

<script>
import TaskList from '@/components/TaskList'
import TaskCardEditor from '@/components/TaskCardEditor'
export default {
  name: 'TaskListContainer',
  components: {
    TaskList,
    TaskCardEditor
  },
  methods: {
    showTaskEditor (cardId) {
      this.$modal.show(TaskCardEditor, {
        cardId: cardId
      })
    }
  },
  computed: {
    getBoardName () {
      return this.$store.getters.getBoardName
    },
    lists () {
      return this.$store.getters.getTaskLists
    }
  }
}
</script>
