<template>
  <div class="c-task-adder">
    <br>
    <input
      placeholder="Fill task name..."
      v-on:keyup.enter="addTaskCard"
      type="text"
      v-model="taskCardName"
      />
    <button type="submit" v-on:click="addTaskCard">Add</button>
  </div>
</template>

<script>
export default {
  name: 'TaskCardAdder',
  props: {
    idList: String
  },
  data () {
    return {
      taskCardName: ''
    }
  },
  methods: {
    addTaskCard: function (event) {
      this.$store.commit('addNewTaskCard', {
        taskName: this.taskCardName,
        taskId: '',
        taskListId: this.idList,
        taskTagsId: []
      })
    }
  }
}
</script>
