
<template>
  <div class="c-task-editor-wrapper">
    <div class="c-task-editor" v-if="getTaskCardFiltered">
      <p class="t-text-2">Nazwa taska: {{ getTaskCardFiltered.name }}</p>
      <p class="t-text-2">id url: {{ getTaskCardFiltered.shortLink }}</p>
      <p class="t-text-2">Krótki Url: {{ getTaskCardFiltered.shortUrl }}</p>
      <p class="t-text-2">Url: <a target="_blank" v-bind:href="getTaskCardFiltered.url">{{ getTaskCard.url }}</a></p>
    </div>
  </div>
</template>

<script>
import LabelList from '@/components/LabelList'

export default {
  name: 'TaskCardEditor',
  props: {
    cardId: String
  },
  components: {
    LabelList
  },
  computed: {
    getTaskCard () {
      return this.$store.getters.getTaskCards
    },
    getTaskCardFiltered () {
      return this.getTaskCard.find((card) => (
        card.id === this.cardId
      ))
    }
  }
}
</script>
