/* ==========================================================================
   Animations
   ========================================================================== */


/* Bouncing animation
   ========================================================================== */
// @keyframes bouncingAnimation {
//     0% {
//         transform: translate3d(0,-5px,0);
//     }
//     50% {
//         transform: translate3d(0,0,0);
//     }
//     100% {
//         transform: translate3d(0,-5px,0);
//     }
// }
// .ui-bounce-anim {
//     animation-name: bouncingAnimation;
//     animation-duration: 1s;
//     animation-iteration-count: infinite;
//     &:hover {
//         @include helper--stop-animation;
//     }
// }


/* Global texts
========================================================================== */
@keyframes anim-wiggle {
  10%, 90% {
    transform: rotate(5deg);
    transform-origin: 50% 0%;
  }

  20%, 80% {
    transform: rotate(-5deg);
    transform-origin: 50% 100%;
  }

  30%, 50%, 70% {
    transform: rotate(5deg);
  transform-origin: 50% 0%;
  }

  40%, 60% {
    transform: rotate(-5deg);
    transform-origin: 50% 100%;
  }
  0%, 100%{
    transform: rotate(0deg);
  }
}



.animation {
  transition: $anim-basic;
}

.animation-enter,
.animation-leave-to {
  opacity: 0;
  transform: translateY(-3px) scale(0.9);
  transition: $anim-basic;
}

.animation-enter-to {
  opacity: 1;
  transform: translateY(0px) scale(1);
  transition: $anim-basic;
}

.animation-move {
  opacity: 1;
  transition: $anim-basic;
}


.animation-enter-active {
  transition: $anim-basic;
}
.animation-leave-active {
  transition: $anim-basic;
}

.animation-enter, .animation-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(3px) scale(0.9);
  opacity: 0;
  transition: $anim-basic;
}
