// @font-face {
//     font-family: 'icons';
//     src: url('./assets/font/icons.eot?77185922');
//     src: url('./assets/font/icons.eot?77185922#iefix') format('embedded-opentype'),
//          url('./assets/font/icons.woff2?77185922') format('woff2'),
//          url('./assets/font/icons.woff?77185922') format('woff'),
//          url('./assets/font/icons.ttf?77185922') format('truetype'),
//          url('./assets/font/icons.svg?77185922#icons') format('svg');
//     font-weight: normal;
//     font-style: normal;
//   }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'icons';
      src: url('../font/icons.svg?77185922#icons') format('svg');
    }
  }
  */
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .icon-down-open:before { content: '\e800'; } /* '' */
  .icon-left-open:before { content: '\e801'; } /* '' */
  .icon-right-open:before { content: '\e802'; } /* '' */
  .icon-up-open:before { content: '\e803'; } /* '' */
  .icon-trash-empty:before { content: '\e804'; } /* '' */
  .icon-cancel:before { content: '\e805'; } /* '' */
  .icon-ok:before { content: '\e806'; } /* '' */
  .icon-pencil:before { content: '\e807'; } /* '' */
  .icon-pencil-1:before { content: '\e808'; } /* '' */
  .icon-move:before { content: '\f047'; } /* '' */
  .icon-sort-alt-up:before { content: '\f160'; } /* '' */
  .icon-sort-alt-down:before { content: '\f161'; } /* '' */