/* ==========================================================================
   Reset
   ========================================================================== */
body {
    margin: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

svg {
    fill: currentColor;
}

iframe,
img {
    display: block;

    max-width: 100%;
}

iframe {
    border: none;
}

figure,
blockquote {
    margin: 0;
}

ul,li,ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
