/* ==========================================================================
   Typography
   ========================================================================== */


/* Global texts
========================================================================== */
html {
    font-size: 15px;
}
body {
    font-family: $font-default;
    line-height: 1.5;
    font-weight: 400;

    color: $color-default;

}

a {
    cursor: pointer;
    text-decoration: none;

    color: currentColor;
    &:hover {
        text-decoration: none;
        color: $color-link-h;
    }
    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    &:not([class]) + &:not([class]) {
        margin-top: $size-gutter;
    }
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.t-text-1 {
    font-size: 10px;
    line-height: 1.2;
}

.t-text-2 {
    font-size: 12px;
}

.t-text-3 {
    font-size: 14px;
}
