/*--------------------------------------------------------------------------
   Variables
-------------------------------------------------------------------------- */

/*Colors
-------------------------------------------------------------------------- */
$color-default: #202020;
$color-black: #000;
$color-white: #fff;
$color-gray-light: #f2f2f2;

$color-blue: #356793;
$color-navy: #060c1d;
$color-blue-lightest: #d2dbe4;


$bg_task: $color-navy;
$color_task: $color-default;

$bg_footer: $color-navy;
$color_footer: $color-white;

$bg_header: $color-navy;
$color_header: $color-white;

$bg_task-list: $color-gray-light;
$color_task-list: $color-default;

$bg-task-list__title: transparent;
$color-task-list__title: $color-default;

$bg-content: $color-blue;
$color-content: #1b1b1b;

$color-link: rgb(110, 110, 110);
$color-link-h: currentColor;
/*Indexes
-------------------------------------------------------------------------- */
$index-header: 100;

/*Sizes
-------------------------------------------------------------------------- */
$size-inner: 1240px;
$size-gutter: 20px;

$size-btn: 8px;

/*Fonts
-------------------------------------------------------------------------- */
$font-default: 'Roboto', Arial, sans-serif;

/*Transitions animations
-------------------------------------------------------------------------- */
$anim-basic: all 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);

/*Breakpoints
-------------------------------------------------------------------------- */
$size-tablet: max 1024px;
$size-phone: max 767px;

// breakpoint exaples
// body {
//     @include media('<=desktop-small') {
//         background: pink;
//     }
//     @include media('<=tablet') {
//         background: red;
//     }
//     @include media('<=phone') {
//         background: yellow;
//     }
//     @include media('>phone', '<=desktop-small') {
//         border: 5px solid grey;
//     }
//     @include media('>tablet', '<=1100px') {
//         color: red;
//     }
//     @include media('<=phone', 'landscape') {
//         background: orange;
//     }
// }
